
.parent {
  background-color: #456089;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
  align-items: flex-start;
  min-height: 300px;
}

.chartContainer {
  max-width: 750px;
  min-width: 250px;
  min-height: 250px;
  max-height: 750px;
  flex: 1 5 auto;
  background-color: aliceblue;
  margin: 25px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  align-self: center;
}

.titleContainer {
  align-self: center;
}

h1, h2 {
  color: white;
  text-align: center;
}

