.chart {
    height: 100%;
    width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  fill: black;
}

